.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.cart__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart__ingredients_list::-webkit-scrollbar {
  width: 8px;
}

.cart__ingredients_list::-webkit-scrollbar-track {
  background: #2f2f37;
}

.cart__ingredients_list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.cart__ingredients_list {
  max-height: 464px;
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cart__item {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding-right: 16px;
}

.cart__item_draggable {
  cursor: grab;
}

.cart__bun {

}

.cart__bun {
  margin-left: 32px;
}

.cart__footer {
  align-items: center;
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  min-height: 64px;
}

.cart__price {
  align-items: center;
  display: flex;
  gap: 8px;
}

.cart__currency {
}

.button:focus {
  box-shadow: 0 0 16px 8px rgba(51, 51, 255, 0.25), 0 0 8px 8px rgba(51, 51, 255, 0.25);
  filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}