.modal {
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04),
  0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  max-width: 720px;
  min-height: 300px;
  min-width: 720px;
  opacity: 0;
  padding: 40px 40px 60px;
  transform: translate(-50%, -200%);
  transition: transform 0.3s ease, visibility 0.25s ease, opacity 0.25s ease;
  visibility: hidden;
  z-index: 2000;
  position: fixed;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal_opened {
  opacity: 1;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.modal__header {
  align-items: center;
  column-gap: 36px;
  display: grid;
  grid-template-areas: "title close";
  grid-template-columns: 1fr 24px;
  min-height: 64px;
}

.modal__title {
  grid-area: title;
}

.modal__close {
  background-color: transparent;
  border: none;
  grid-area: close;
  max-height: 24px;
  max-width: 24px;
  padding: 0;
  transition: opacity 0.5s ease;
}

.modal__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.screenReader {
  visibility: hidden;
  opacity: 0;
  margin: 0;
}