.orders {
  width: 100%;
  max-height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  padding: 40px 8px 0 0;
  height: 100%;
  box-sizing: border-box;
}

.orders::-webkit-scrollbar {
  width: 8px;
  margin-top: 40px;
}

.orders::-webkit-scrollbar-track {
  background: #2f2f37;
  margin: 40px 0 64px;
}

.orders::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

.subtitle {
  width: 100%;
  text-align: center;
  margin: auto;
}