.tabs_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}

.ingredients {
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  margin: 40px 0 0;
  padding: 0;
  max-height: 756px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.ingredients::-webkit-scrollbar {
  width: 8px;
}

.ingredients::-webkit-scrollbar-track {
  background: #2F2F37;
}

.ingredients::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.ingredients__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ingredients__list {
  box-sizing: border-box;
  display: grid;
  gap: 32px 24px;
  grid-template-columns: repeat(2, minmax(272px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0 24px;
}